:root {
  --color-background-light: #f4f4f4;
  --color-background-dark: #2e2e2e;
  --color-background-card-category: rgba(68, 64, 247, 0.7);
  --color-black: #111321;
  --color-white: #ffffff;
  --color-gray: #a8a8a8;
  --color-brand: #4440f6;
  --color-green: #00dd73;
  --color-white-alt: #f8f8f8;
  --color-background-active-number: #4440f7;
  --already-read-gradient: rgba(244, 244, 244, 0.4);
  --color-background-footer: #7a7a7a;
}
