.categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 16px;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    // height: 31px;
    border: 1px solid var(--color-brand);
    padding: 8px 21px;
    border-radius: 20px;
    background-color: transparent;
    color: var(--color-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 12px;
    line-height: 1.3;

    &:hover,
    &:focus,
    &:active,
    &-selected {
      background-color: var(--color-brand);
      color: var(--color-white);
      cursor: pointer;
    }
  }

  &__dropdown {
    width: 112px;
    height: 31px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 100;

    &-header {
      height: 31px;
      padding: 8px 21px;
      background-color: var(--color-brand);
      color: var(--color-white);
      display: flex;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;
    }

    &-container {
      max-width: 168px;
      min-height: 380px;
      overflow-y: auto;
      padding: 14px 24px;
      border-radius: 20px;
      background-color: var(--color-white-alt);
      display: flex;
      flex-direction: column;
      gap: 12px;

      &::-webkit-scrollbar {
        display: none;
      }

      &-hidden {
        display: none;
      }
    }

    &-item {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.01em;
      border: none;
      text-align: left;
      color: var(--color-brand);
      cursor: pointer;
      background-color: transparent;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
