.weather-counteiner {
    justify-content: center;
    background-color: #4440F6;
    width: 288px;
    height: 469px;

    @media (min-width: 768px) {
        width: 353px;
        height: 675px;
    }
    
    @media (min-width: 1280px) {
        width: 395px;
    }
}

.weather-info{
    display: flex;
    padding-top: 34px;
    justify-content: center;

    @media (min-width: 768px) {
        padding-top: 40px;
    }
}

.weather-temperature{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 55px;
    line-height: 1.16;

    color: #FFFFFF;

    border-right: 1px solid #fff;

    @media (min-width: 768px) {
        font-size: 64px;
        line-height: 1.17;
    }
}

.weather-conloc{
    margin-left: 11px;
}

.weather-condition {
    padding-bottom: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #FFFFFF;

    @media (min-width: 768px) {
        font-size: 36px;
        line-height: 1.17;
    }
}

.weather-location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #FFFFFF;
    
    gap: 4px;
    width: 121px;
    height: 37px;
    background: rgba(254, 254, 255, 0.3);
    border-radius: 10px;

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 1.15;

        gap: 8px;
        width: 177px;
        height: 42px;
    }
}

.weather-location__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 100%;
    object-fit:cover ;
    @media (min-width: 768px) {
        width: 27px;
        height: 27px;
    }
}



.weather-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    @media (min-width: 768px) {
        padding-top: 89px;
    }
}

.weather-data-time{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    
    color: #FFFFFF;

    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        font-size: 36px;
        line-height: 1.17;
        padding-top: 90px;
    }
}