<div class="filter-elements">
    <p class="calendar-text">Search date news</p>
  
    <div class="calendar-form">
      <div class="calendar-form__container" data-modal-open data-modal-close>
        <svg class="calendar-form__icon-calendar" width="20" height="20">
          <use href="./images/icons.svg#icon-calendar"></use>
        </svg>
        <input
          readonly
          id="input-picker"
          class="calendar-form__input datepicker-here dark-theme-border"
          placeholder="Виберіть дату..."
        />
        <svg class="calendar-form__button-down dark-theme-btn" width="14" height="14">
          <use href="./images/icons.svg#icon-down-arrow"></use>
        </svg>
      </div>
  
      <!-- Сalendar -->
  
      <div class="calendar-wrapper hidden" data-modal>
        <div class="calendar-wrapper__container">
          <div class="calendar-switcher">
            <div class="calendar-switcher__years">
              <span id="prev-years" class="calendar-switcher__years-icon">
                <svg width="16" height="12" class="calendar-switcher__icon-right">
                  <use href="./images/icons.svg#icon-down-arrow"></use>
                </svg>
              </span>
              <p class="calendar-switcher__current-date"></p>
              <span id="next-years" class="calendar-switcher__icon-symbols">
                <svg width="16" height="12" class="calendar-switcher__icon-left">
                  <use href="./images/icons.svg#icon-down-arrow"></use>
                </svg>
              </span>
            </div>
  
            <div class="calendar-icons">
              <span id="prev" class="calendar-icons__symbols">
                <svg width="16" height="17" class="calendar-switcher__icon-right">
                  <use href="./images/icons.svg#icon-down-arrow"></use>
                </svg>
              </span>
              <span id="next" class="calendar-icons__symbols">
                <svg width="16" height="17" class="calendar-switcher__icon-left">
                  <use href="./images/icons.svg#icon-down-arrow"></use>
                </svg>
              </span>
            </div>
          </div>
          <div class="calendar-weeks">
            <ul class="calendar-weeks__list">
              <li class="calendar-weeks__item">Mo</li>
              <li class="calendar-weeks__item">Tu</li>
              <li class="calendar-weeks__item">We</li>
              <li class="calendar-weeks__item">Th</li>
              <li class="calendar-weeks__item">Fr</li>
              <li class="calendar-weeks__item">Sa</li>
              <li class="calendar-weeks__item">Su</li>
            </ul>
            <ul class="calendar-days__list">
              <li class="calendar-days__item"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>