<section class="section category-section">
  <div class="container categories-container">
    <ul class="categories__list">
      <li class="categories__item">
        <button class="category">Btn1</button>
      </li>
      <li class="categories__item">
        <button class="category js-category">Btn2</button>
      </li>
      <li class="categories__item">
        <button class="category js-category">Btn3</button>
      </li>
      <li class="categories__item">
        <button class="category js-category">Btn4</button>
      </li>
      <li class="categories__item">
        <button class="category js-category">Btn5</button>
      </li>
      <li class="categories__item">
        <button class="category js-category">Btn6</button>
      </li>
      <li class="categories__item">
        <select name="" id="" class="categories__select category">
          <option class="select__category js-category" value="Category1">
            Category1
          </option>
          <option class="select__category js-category" value="Category2">
            Category2
          </option>
          <option class="select__category js-category" value="Category3">
            Category3
          </option>
        </select>
      </li>
    </ul>
  </div>
</section>
