<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite</title>
    <link rel="stylesheet" href="../sass/index.scss" />
    <link rel="shortcut icon" href="../images/favicon.ico" />
  </head>

  <body>
    <header>
      <div class="container container-header">
        <a href="../index.html" class="logo">News</a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--current" href="./favorite.html"
              >Favorite</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./read.html">Read</a>
          </li>
        </ul>

        <label class="search-field" for="search">
          <button class="search-button" type="submit">
            <svg width="20" height="20">
              <use href="../images/icons.svg#icon-search"></use>
            </svg>
          </button>
          <input
            class="search-input"
            id="search"
            type="text"
            placeholder="Search"
          />
        </label>
        <button class="open-search" type="button">
          <svg width="20" height="20">
            <use href="../images/icons.svg#icon-search"></use>
          </svg>
        </button>
        <div class="switch">
          <svg class="icon-sun" width="21" height="21">
            <use href="../images/icons.svg#icon-sun"></use>
          </svg>
          <span class="light-word">Light</span>
          <input
            type="checkbox"
            id="toggle-button"
            class="toggle-button"
            onclick="toggleTheme()"
          />
          <label for="toggle-button" class="text"></label>
          <svg class="icon-moon" width="21" height="21">
            <use href="../images/icons.svg#icon-moon"></use>
          </svg>
          <span class="dark-word">Dark</span>
        </div>

        <button class="burger-button" type="button">
          <svg class="burger-icon" width="24" height="24">
            <use href="../images/icons.svg#icon-menu-1"></use>
          </svg>
        </button>

        <div class="burger-menu">
          <div class="container burger-container">
            <div class="burger-header">
              <a href="../index.html" class="logo">News</a>
              <button class="burger-close" type="button">
                <svg class="close-icon" width="24" height="24">
                  <use href="../images/icons.svg#icon-x"></use>
                </svg>
              </button>
            </div>
            <div class="burger-body">
              <div class="burger-nav">
                <ul class="burger-links">
                  <li class="burger-item">
                    <a class="burger-link" href="../index.html">
                      <svg class="link-icon" width="18" height="18">
                        <use
                          href="../images/icons.svg#icon-mobil-home"
                        ></use></svg>
                      >Home<svg class="link-arrow" width="24" height="24">
                        <use href="../images/icons.svg#icon-right-arrow"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="burger-item">
                    <a
                      class="burger-link burger-link--current"
                      href="./favorite.html"
                    >
                      <svg class="link-icon" width="18" height="18">
                        <use
                          href="../images/icons.svg#icon-mobil-heart"
                        ></use></svg>
                      >Favorite
                    </a>
                  </li>
                  <li class="burger-item">
                    <a class="burger-link" href="./read.html">
                      <svg class="link-icon" width="18" height="18">
                        <use
                          href="../images/icons.svg#icon-mobil-book"
                        ></use></svg>
                      >Read
                    </a>
                  </li>
                </ul>
              </div>
              <div class="burger-switch">
                <svg class="icon-sun" width="21" height="21">
                  <use href="../images/icons.svg#icon-sun"></use>
                </svg>
                <input
                  type="checkbox"
                  id="toggle-button"
                  class="toggle-button"
                  onclick="toggleTheme()"
                />
                <label for="toggle-button" class="text"></label>
                <svg class="icon-moon" width="21" height="21">
                  <use href="../images/icons.svg#icon-moon"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="news">
        <div class="container">
          <div class="news__box"></div>
          <div class="default-picture">
            <p class="default-picture__text">There are no news yet</p>
            <picture>
              <source
                srcset="
                  ../images/desktop-no-news-601.png    1x,
                  ../images/desktop-no-news-601@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../images/tablet-no-news-560.png    1x,
                  ../images/tablet-no-news-560@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile-no-news-248.png    1x,
                  ../images/mobile-no-news-248@2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <img
                src="../images/mobile-no-news-248.png"
                alt="Нажаль, ще немає доступних статтей"
                min-width="248"
                class="default-picture__image"
              />
            </picture>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer-box">
            <div class="footer-nav">
              <a href="../index.html" class="logo">News</a>
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a class="footer-nav__link" href="../index.html">Home</a>
              </li>
              <li class="footer-nav__item">
                <a class="footer-nav__link" href="./favorite.html">Favorite</a>
              </li>
              <li class="footer-nav__item">
                <a class="footer-nav__link" href="./read.html">Read</a>
              </li>
            </ul>
            </div>
            <div class="inner">
              <p class="inner__text">Приєднуйтесь</p>
              <ul class="social">
                  <li>
                      <a class="social__link" href="#">
                          <svg width="14" height="14">
                              <use href="../images/icons.svg#icon-instagram"></use>
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a class="social__link" href="#">
                          <svg width="14" height="14">
                              <use href="../images/icons.svg#icon-twitter"></use>
                          </svg>
                      </a>    
                  </li>
                  <li>
                      <a class="social__link" href="#">
                          <svg width="14" height="14">
                              <use href="../images/icons.svg#icon-facebook"></use>
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a class="social__link" href="#">
                          <svg width="14" height="14">
                              <use href="../images/icons.svg#icon-linkedin"></use>
                          </svg>
                      </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="../js/favoritePage.js"></script>
    <script src="../js/burger-menu.js"></script>
    <script src="../js/header-input.js"></script>
    <script src="../js/darkmode.js"></script>
    <script src="../js/headerSearchForm.js"></script>
  </body>
</html>
