<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite</title>
</head>
<body>
  <header>
    <div class="container favorite-page-container"></div>
  </header>
  <main>
    <section class="news">
      <div class="container favorite-page-container">
        <!-- <div class="news__box"></div> -->
    </div>
  </section>
  </main>
<script type="module" src="/src/js/createFavoritePage.js"></script>
</body>
</html>