<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagination</title>
</head>
<body>
  <div class="container">
    <div class="page-container">
      <button class="prev-page" disabled><svg width="24" height="24"><use href="./images/icons.svg#icon-left-arrow"></use></svg>Prev
      </button>
      <div id="pagination"></div>
      <button class="next-page">
      Next <svg width="24" height="24"><use href="./images/icons.svg#icon-right-arrow"></use></svg>
      </button>
    </div>
  </div>
    <script src="./js/pagination.js"></script>
</body>
</html>