



:root .dark-theme{
        --color-black: #f4f4f4;
        --color-brand: #FFFFFF;
        --color-darkgray: #4440F6;
        --color-white: #5F6775;
    }

.dark-theme.page{
    background:#5F6775;
    
}
.header.dark-theme{
    border-bottom: 5px solid rgba(205, 240, 8, 0.918);
}




